@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

html * {
  font-family: "Roboto";
}

.spin-left {
  animation: spinleft 2s infinite linear;
}

.spin-right {
  animation: spinright 2s infinite linear;
}

@keyframes spinleft {
  from {
    transform: scale(1) rotate(360deg);
  }

  to {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes spinright {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

.blur {
  filter: blur(3px) !important;
  transition: all 0.4s ease-in-out;
}

.no-filter {
  filter: none;
  transition: all 0.4s ease-in-out;
}

#queryInputClearButton {
  position: absolute;
  font-size: 18px;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
  opacity: 0;
  height: auto;
  cursor: pointer;
  z-index: 3;
}

.material-icons {
  vertical-align: middle;
}

#aboutDropdownMenu {
  margin: 0;
  inset: auto;
  right: anchor(right);
  top: calc(anchor(bottom) + 0.5rem);
}
