<mat-form-field>
  <mat-label>Search</mat-label>

  <input matInput type="text" [formControl]="searchStringInput">

  <button mat-button *ngIf="searchStringInput.value?.length > 0" matSuffix mat-icon-button aria-label="Clear" (click)="searchStringInput.setValue('')">
    <mat-icon>close</mat-icon>
  </button>

  <button mat-button matSuffix mat-icon-button (click)="settingsExpanded = !settingsExpanded">
    <mat-icon [class.rotate180]="settingsExpanded">expand_more</mat-icon>
  </button>
</mat-form-field>

<mat-expansion-panel class="without-header" [expanded]="settingsExpanded">
  <mat-checkbox>Zukünftige</mat-checkbox>

  <!--<app-searchbar-sort></app-searchbar-sort>-->

</mat-expansion-panel>
