.collapse {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease;
}

.collapse.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.collapse .card {
  overflow: hidden;
  max-height: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-width: 0;
  transition: all 0.3s ease;
}

.collapse:not(.show) .card {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.3s ease;
}

.search-label {
  transition: border-bottom-left-radius 0.3s ease 0.3s;
}

.settings-button-container {
  transition: border-bottom-right-radius 0.3s ease 0.3s;
}

.settings-button {
  width: 3rem;
  padding: 0;
}

.no-border-bottom-left-radius {
  border-bottom-left-radius: 0;
  transition: border-bottom-left-radius 0.3s ease 0s;
}

.no-border-bottom-right-radius {
  border-bottom-right-radius: 0;
  transition: border-bottom-right-radius 0.3s ease 0s;
}

.settings-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.settings-container * {
  margin-bottom: 0;
}

.settings-item {
  display: inline;
  align-self: center;
  margin-right: 0.75rem;
}

.settings-item div {
  display: inline;
}

.form-group input {
  display: inline;
  max-width: 8rem;
}
