/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@for $i from 1 through 10 {
  .vertical-spacer-#{$i} {
    height: 1rem * $i;
  }
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('/assets/MaterialIcons-Regular.woff2') format('woff2'), url('/assets/MaterialIcons-Regular.woff') format('woff'), url('/assets/MaterialIcons-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Roboto;
  src: local('Roboto'), url('/assets/Roboto-Regular.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
}

.material-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';

  transition: transform 0.35s;
  @for $i from -9 through 40 {
    &.scale-#{100 + $i*10} {
      font-size: 1rem + ($i / 10);

      &.reset-size {
        vertical-align: middle;
        line-height: 1rem;
        margin: 1rem - 1rem - ((($i / 10)) / 2);
      }
    }
  }
}

.flip-vertical {
  transform: rotateX(180deg);
}

.pointer-cursor {
  cursor: pointer;
}

a {
  color: #006bcc;
}
