variables:
  SERVER_DIST_IMAGE: "$CI_REGISTRY_IMAGE/server-dist:$CI_COMMIT_REF_SLUG"
  SERVER_DIST_IMAGE_SHA: "$CI_REGISTRY_IMAGE/server-dist:$CI_COMMIT_SHA"

  CLIENT_DIST_IMAGE: "$CI_REGISTRY_IMAGE/client-dist:$CI_COMMIT_REF_SLUG"
  CLIENT_DIST_IMAGE_SHA: "$CI_REGISTRY_IMAGE/client-dist:$CI_COMMIT_SHA"

  DIST_IMAGE_LATEST: "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
  DIST_IMAGE_SHA: "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA"
  DIST_IMAGE_DOCKER_HUB: "mediathekview/mediathekviewweb:latest"
  DIST_IMAGE_DOCKER_HUB_DEVELOPMENT: "mediathekview/mediathekviewweb:development"

before_script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json

stages:
  - build:dependencies
  - build:application
  - pack
  - publish

build:server:
  stage: build:application
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  except:
    - schedules
  script:
    - /kaniko/executor --cache=true
      --context "$CI_PROJECT_DIR"
      --dockerfile "$CI_PROJECT_DIR/ci/server.dockerfile"
      --destination "$SERVER_DIST_IMAGE_SHA"
      --destination "$SERVER_DIST_IMAGE"
  tags:
    - docker

build:client:
  stage: build:application
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  except:
    - schedules
  script:
    - /kaniko/executor --cache=true
      --context "$CI_PROJECT_DIR"
      --dockerfile "$CI_PROJECT_DIR/ci/client.dockerfile"
      --destination "$CLIENT_DIST_IMAGE_SHA"
      --destination "$CLIENT_DIST_IMAGE"
  tags:
    - docker

pack:dist:
  stage: pack
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  except:
    - schedules
  script:
    - /kaniko/executor --cache=true
      --context "$CI_PROJECT_DIR"
      --dockerfile "$CI_PROJECT_DIR/ci/dist.dockerfile"
      --build-arg "SERVER_DIST_IMAGE=$SERVER_DIST_IMAGE_SHA"
      --build-arg "CLIENT_DIST_IMAGE=$CLIENT_DIST_IMAGE_SHA"
      --destination "$DIST_IMAGE_SHA"
      --destination "$DIST_IMAGE_LATEST"
  tags:
    - docker

publish:image:
  stage: publish
  when: manual
  image: alpine:latest
  only:
    - master
  except:
    - schedules
  script:
    - docker pull $DIST_IMAGE_SHA
    - docker tag $DIST_IMAGE_SHA $DIST_IMAGE_DOCKER_HUB
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
    - docker push $DIST_IMAGE_DOCKER_HUB
  tags:
    - docker

publish:image-development:
  stage: publish
  when: manual
  image: alpine:latest
  only:
    - development
  except:
    - schedules
  script:
    - apk add --no-cache skopeo
    - skopeo login --username="$CI_REGISTRY_USER" --password="$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - skopeo login --username="$DOCKER_HUB_USER" --password="$DOCKER_HUB_PASSWORD" "docker.io"
    - skopeo copy "docker://${DIST_IMAGE_SHA}" "docker://${DIST_IMAGE_DOCKER_HUB_DEVELOPMENT}"
  tags:
    - docker
