<mvw-search-input></mvw-search-input>

<mat-table matSort [dataSource]="dataSource" matSortActive="timestamp" matSortDirection="desc" matSortDisableClear>
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>

  <ng-container matColumnDef="channel">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Sender</mat-header-cell>
    <mat-cell *matCellDef="let entry">{{ entry.channel }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="topic">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Thema</mat-header-cell>
    <mat-cell *matCellDef="let entry">{{ entry.topic }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Titel</mat-header-cell>
    <mat-cell *matCellDef="let entry">{{ entry.title }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <mat-header-cell *matHeaderCellDef mat-sort-header start="desc">Timestamp</mat-header-cell>
    <mat-cell *matCellDef="let entry">{{ entry.timestamp }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Dauer</mat-header-cell>
    <mat-cell *matCellDef="let entry">{{ entry.duration }}</mat-cell>
  </ng-container>

  <mat-row *matRowDef="let entry; columns: columnsToDisplay"></mat-row>
</mat-table>

<mat-paginator [pageSize]="settingsService.pageSize | async" [pageSizeOptions]="[5, 10, 15, 20, 25, 50, 75, 100]">
</mat-paginator>
