.mat-header-row,
.mat-row {
  min-height: 2.5rem;
  padding: 0 0.5rem;
}

.mat-column-channel {
  flex: 0.25 2 2rem;
}

.mat-column-topic {
  flex: 0.75 1.5 5rem;
}

.mat-column-title {
  flex: 3 1 2rem;
}

.mat-column-timestamp {
  flex: 0 0 6rem;
}

.mat-column-duration {
  flex: 0 0 3rem;
}
