th {
  border: none;
  padding-bottom: 0.25rem;
  padding-top: 0;
}

.auto-width {
  white-space: nowrap;
}

.min-10-rem {
  min-width: 10rem;
}

.max-15-rem {
  max-width: 15rem;
}

.free-space {
  width: 100%
}

tr {
  vertical-align: middle;
}
