<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">MediathekViewWeb</a>
  <button class="navbar-toggler" type="button" (click)="showNav = !showNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ show: showNav }">
    <ul class="navbar-nav mr-auto container">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/abo">Abo</a>
      </li>
    </ul>
  </div>
</nav>

<div class="vertical-spacer-1"></div>

<div class="container">
  <mvw-query-builder></mvw-query-builder>

  <div class="vertical-spacer-2"></div>

  <mvw-entry-table [entries]="entries"></mvw-entry-table>
</div>

<router-outlet></router-outlet>
