<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="navbar-brand  mb-0 navbar-text">MediathekViewWeb</h1>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <div class="container">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="#">Suche</a>
      <a class="nav-item nav-link" href="#">Abos</a>
    </div>
  </div>
</div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
