<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="navbar-brand  mb-0 navbar-text">MediathekViewWeb</h1>
  <div class="collapse navbar-collapse">
    <div class="container">
      <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" routerLink="search">Suche</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
