<div class="field has-addons">
  <div class="control is-expanded has-icons-right">
    <input #searchInputElement class="input is-animated" [ngClass]="{ 'no-bottom-border-radius': settingsOpened }" type="text" placeholder="Suche" [formControl]="searchInput">

    <span class="icon is-right is-animated is-interactive" [ngClass]="{ 'is-transparent': searchInput.value == null || searchInput.value.length == 0 }">
      <fa-icon icon="eraser" (click)="clear()"></fa-icon>
    </span>
  </div>
  <div class="control">
    <a class="button is-animated" [ngClass]="{ 'no-bottom-border-radius': settingsOpened }" (click)="settingsOpened = !settingsOpened">
      <fa-icon icon="chevron-down" size="xs" [flip]="settingsOpened ? 'vertical' : ''"></fa-icon>
    </a>
  </div>
</div>


<mat-expansion-panel [expanded]="settingsOpened">
    <div *ngFor="let segment of (segments$ | async)">
      {{ segment | json }}
    </div>
</mat-expansion-panel>
