.no-bottom-border-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input {
  &:placeholder-shown {
    +.icon>fa-icon {
      opacity: 0;
      cursor: initial;
    }
  }

  &:not(:placeholder-shown) {
    +.icon>fa-icon {
      cursor: pointer;
    }
  }
}

.mat-expansion-panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.field {
  margin-bottom: 0;
}
