<div>
  <div class="row">
    <div class="col">
      <div class="input-group">
        <span class="input-group-addon">Suche</span>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-auto">
      <div class="input-group">
        <span class="input-group-addon">
          <div>
            <label for="everywhereCheckbox">
              <input id="everywhereCheckbox" type="checkbox"> Überall
            </label>
          </div>
        </span>

        <div class="input-group-btn">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Mehr</button>
          <div class="dropdown-menu">
            <label for="futureCheckbox" class="dropdown-item">
              <input id="futureCheckbox" type="checkbox"> Zukunft
            </label>

            <label for="blablaCheckbox" class="dropdown-item">
              <input id="blablaCheckbox" type="checkbox"> Blabla
            </label>

            <div role="separator" class="dropdown-divider"></div>

            <button type="button" class="btn btn-secondary dropdown-item">Als Standard speichern</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
