<div>
  <div class="input-group">
    <span class="input-group-addon search-label" [ngClass]="{ 'no-border-bottom-left-radius': showSettings }">Suche</span>
    <input type="text" class="form-control" [(ngModel)]="text" (input)="query()">
    <span class="input-group-btn settings-button">
          <button type="button" class="btn btn-secondary" [ngClass]="{ 'no-border-bottom-right-radius': showSettings }" (click)="showSettings = !showSettings"><i class="material-icons" [ngClass]="{ rotate: showSettings}">expand_more</i></button>
    </span>
  </div>

  <div class="collapse" [ngClass]="{ show: showSettings }">
    <div class="card card-block">
      <div class="settings-container">
        <label [for]="'futureCheckbox' + instanceID">
          <input [id]="'futureCheckbox' + instanceID" type="checkbox" [(ngModel)]="future" (change)="query()"> Zukünftige
        </label>

        <label [for]="'everywhereCheckbox' + instanceID">
          <input [id]="'everywhereCheckbox' + instanceID" type="checkbox" [(ngModel)]="everywhere" (change)="query()"> Überall
        </label>
      </div>
    </div>
  </div>
</div>
