<div class="overlay" [ngClass]="{ hide: hide }">

  <div class="row">
    <div class="col col-1 col-sm-2 col-xl-3"></div>
    <div class="col col-10 col-sm-8 col-xl-6">
      <video [id]="videoID" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" (dblclick)="doubleClicked()" preload="auto" controls>
        <source src="http://mediandr-a.akamaihd.net//progressive/2017/0403/TV-20170403-1910-1500.hq.mp4">
      </video>
    </div>
    <div class="col col-1 col-sm-2 col-md-3"></div>
  </div>

  <i class="material-icons close-button" (click)="close()">close</i>
</div>
