.spinning {
    animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(360deg);
    }
    to {
        transform: scale(1) rotate(0deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

.showafter1s {
    animation: show 1s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

.margin-left {
    margin-left: 0.2em;
}

.margin-right {
    margin-right: 0.2em;
}

.paginationstyle {
    margin: 0 !important;
    float: right;
}

.initiallyHidden {
    display: none;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.watchDownloadField {
    min-width: 3.8em;
}

.filesizeCell {
    min-width: 6.2em;
}

.material-icons {
    font-size: 1em;
    vertical-align: middle;
    line-height: 0 !important;
    transition: all 0.25s ease-in-out;
}

td {
  vertical-align: middle !important;
}

.icon-big {
    font-size: 2em !important;
    transition: all 0.25s ease-in-out;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 50%;
    margin: auto;
    text-align: center;
}

.overlay .closeButton {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
