.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

span.glyph-big {
    font-size: 1.3em;
}

span.glyph-margin-right {
    margin-right: 0.25em;
}

span.glyph-margin-left {
    margin-left: 0.25em;
}

.paginationstyle{
    margin: 0 !important;
    float: right;
}

.initiallyHidden {
    display: none;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 50%;
    margin: auto;
    text-align: center;
}

.overlay .closeButton {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
