tbody tr {
  &.odd {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.channel-column {
  width: 5rem;
}

.topic-column {
  width: 12rem;
}

.title-column {
  width: auto;
}

.date-column {
  padding-right: 1.5rem;
  width: 1%;
}

.time-column {
  width: 4rem;
}

.duration-column {
  width: 1rem;
}
