<nav class="navbar navbar-expand-lg navbar-dark bg-dark mat-elevation-z1">
  <span class="navbar-brand">MediathekViewWeb</span>

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="/dev" routerLinkActive="active">Dev</a>
    </div>
  </div>
</nav>
