<nav class="navbar is-dark mat-elevation-z1">
  <div class="navbar-brand">
    <a class="navbar-item is-size-4">
      MediathekViewWeb
    </a>
    <div class="navbar-burger burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu container is-fluid">
    <div class="navbar-start">
      <div class="tabs">
        <ul>
          <li routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }"><a class="is-animated fast" routerLink="/">Home</a></li>
          <li routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }"><a class="is-animated fast" routerLink="/1">Abonnements</a></li>
          <li routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }"><a class="is-animated fast" routerLink="/2">Spenden</a></li>
          <li routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }"><a class="is-animated fast" routerLink="/3">Über</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>
