.container {
  width: auto;
}

.tabs {

  a,
  ul {
    border-bottom-style: none;

    li {
      height: 100%;

      a {
        height: 100%;
        color: #cfcfcf;
        border-bottom-width: 0;
        border-bottom-style: solid;
        border-bottom-color: #efefef;

        &:hover {
          color: #efefef;
        }
      }

      &.is-active {
        a {
          cursor: default;
          border-bottom-width: 0.15rem;
          color: #efefef;
        }
      }
    }
  }
}
