@import '~bulma/bulma';
@import './breakpoints.scss';

.control.has-icons-right .icon.is-interactive {
  pointer-events: initial;
}

html {
  overflow-y: auto;
}

@include small {
  .container {
    width: 100%;
    max-width: 100%;
  }
}
