<cdk-virtual-scroll-viewport itemSize="48" maxBufferPx="600" minBufferPx="300" class="viewport mat-elevation-z2">
  <mat-accordion>
    <div *cdkVirtualFor="let entry of entries; templateCacheSize: 0; trackBy: trackEntry;" class="entry">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div class="entry-grid">
            <span class="entry-channel">{{ entry.channel }}</span>
            <span class="entry-topic">{{ entry.topic }}</span>
            <span class="entry-title">{{ entry.title }}</span>
          </div>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <span>{{ entry.description }}</span>
        </ng-template>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</cdk-virtual-scroll-viewport>
