<div class="accordion-container mat-elevation-z2">
  <mat-accordion class="entries-accordion">
    <div *ngFor="let entry of entries; trackBy: trackEntry;" class="entry">
      <mat-expansion-panel #entryPanel>
        <mat-expansion-panel-header [collapsedHeight]="(panelCollapsedHeight | async) + 'px'" [expandedHeight]="(panelExpandedHeight | async) + 'px'">
          <div class="entry-grid">
            <span class="entry-channel">{{ entry.channel }}</span>
            <!--<span *ngIf="isXs | async" class="entry-channel-topic-divider">-</span>-->
            <span class="entry-topic">{{ entry.topic }}</span>
            <span class="entry-title">{{ entry.title }}</span>
            <span class="entry-datetime">{{ (entry.timestamp * 1000) | date:'short' }}</span>
            <span class="entry-duration">{{ ((entry.duration * 1000) >= (60 * 60 * 1000)) ? ((entry.duration * 1000) | date:'hh\'h\'mm\'m\'') : ((entry.duration * 1000) | date:'mm\'m\'ss\'s\'') }}</span>
          </div>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <span>{{ entry.description }}</span>
        </ng-template>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
