<cdk-virtual-scroll-viewport #scrollViewport [itemSize]="(panelCollapsedHeight | async)" minBufferPx="1000" maxBufferPx="2000" class="accordion-container mat-elevation-z2">
  <mat-accordion class="entries-accordion">
    <div *cdkVirtualFor="let entry of dataSource; trackBy: trackEntry; templateCacheSize: 0" class="entry">

      <ng-container *ngIf="entry != undefined;">
        <mat-expansion-panel>
          <mat-expansion-panel-header [collapsedHeight]="(panelCollapsedHeight | async) + 'px'" [expandedHeight]="(panelExpandedHeight | async) + 'px'">
            <div class="entry-grid">
              <span class="entry-channel">{{ entry.channel }}</span>
              <!--<span *ngIf="isXs | async" class="entry-channel-topic-divider">-</span>-->
              <span class="entry-topic">{{ entry.topic }}</span>
              <span class="entry-title">{{ entry.title }}</span>
              <span class="entry-datetime">{{ (entry.timestamp * 1000) | date:'short' }}</span>
              <span class="entry-duration">{{ ((entry.duration * 1000) >= (60 * 60 * 1000)) ? ((entry.duration * 1000) | date:'hh\'h\'mm\'m\'') : ((entry.duration * 1000) | date:'mm\'m\'ss\'s\'') }}</span>
            </div>
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <span>{{ entry.description }}</span>
          </ng-template>
        </mat-expansion-panel>
      </ng-container>

      <ng-container *ngIf="entry == undefined;">
        <mat-expansion-panel>
          <mat-expansion-panel-header [collapsedHeight]="(panelCollapsedHeight | async) + 'px'" [expandedHeight]="(panelExpandedHeight | async) + 'px'">
            <div>
              Loading...
            </div>
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <span>Loading...</span>
          </ng-template>
        </mat-expansion-panel>
      </ng-container>

    </div>
  </mat-accordion>
</cdk-virtual-scroll-viewport>
